.scan-page {
  padding: 40px;
}

.scan-header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.scan-header p {
  color: #6b7280;
  font-size: 18px;
}

.upload-card {
  margin-top: 35px;
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 16px;
  padding: 30px;
  max-width: 700px;
}

.upload-card h2 {
  margin-bottom: 10px;
}

.upload-card > p {
  color: #6b7280;
  margin-bottom: 25px;
}

.upload-box {
  border: 2px dashed #cbd5e1;
  border-radius: 12px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
}

.upload-box input {
  display: none;
}

.upload-box span {
  font-size: 45px;
  margin-bottom: 10px;
}

.upload-box p {
  color: #6b7280;
}

.upload-box img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 10px;
}

.analyze-button {
  margin-top: 25px;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  background-color: #2563eb;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.analyze-button:hover {
  background-color: #1d4ed8;
}


.medicine-result-card {
  margin-top: 30px;
  padding: 25px;
  background-color: #f8fafc;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
}

.medicine-result-card h2 {
  margin-bottom: 20px;
}

.result-item {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #e5e7eb;
}

.result-item:last-child {
  border-bottom: none;
}

.scan-again-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #2563eb;
  border-radius: 8px;
  background-color: white;
  color: #2563eb;
  font-size: 15px;
  cursor: pointer;
}

.scan-again-button:hover {
  background-color: #eff6ff;
}
